body {
  padding: 0px;
  margin: 0px;
}

html {
  scroll-behavior: smooth;
}

*{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  letter-spacing: 2px;
}

.sections {
  height: 890px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: -o-linear-gradient(45deg, rgb(141, 78, 200), rgb(103, 42, 81));
  h1 {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    background: rgba(color rgb(113, 108, 108), alpha 0.3);
    backdrop-filter: blur(2px);
    z-index: 0;
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background: rgba(color #a29f9f, alpha 0.8);
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  backdrop-filter: blur(2px);
  z-index: 20;
}

nav {
  width: 60%;
  ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    li {
      margin: 10px;
      a {
        text-decoration: none;
        color: #f8f8f8;
        padding: 10px 15px;
        background: rgba(color #b49797, alpha 0.3);
        border: 1px solid #ffffff;
      }
    }
  }
}

.active {
  background: rgb(14, 167, 255);
  color: #000;
  box-shadow: 0 0 4px 2px #fff;
}

#home {
  background: linear-gradient(45deg, rgb(95, 7, 16), rgb(154, 11, 68));
}

#about {
  background: linear-gradient(45deg, rgb(8, 32, 56), rgb(74, 104, 154));
}

#services {
  background: linear-gradient(45deg, rgb(5, 49, 20), rgb(2, 126, 81));
}

#contact {
  background: linear-gradient(45deg, rgb(26, 4, 45), rgb(87, 32, 164));
}

.nav-link:hover {
  background-color: #bcbdc6;
}